@page
@model GymWebsite.Pages.Workouts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/a7acdedb07.js" crossorigin="anonymous"></script>
</head>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Workout</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].TrainingBlock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workout) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingBlock.BlockName)
            </td>
            <td>
                <a asp-page="../Exercises/Create" asp-route-id="@item.WorkoutID"><i class="fas fa-plus-square fa-2x pr-4 text-black-50" data-toggle="tooltip" title="Add Exercise to Workout"></i></a>
                <a asp-page="./Edit" asp-route-id="@item.WorkoutID"><i class="fas fa-edit fa-2x pr-3 text-black-50" data-toggle="tooltip" title="Edit Workout"></i></a>
                <a asp-page="./Details" asp-route-id="@item.WorkoutID"><i class="fas fa-info-circle fa-2x pr-4 text-black-50" data-toggle="tooltip" title="Workout Info"></i></a>
                <a asp-page="./Delete" asp-route-id="@item.WorkoutID"><i class="fas fa-trash-alt fa-2x text-black-50" data-toggle="tooltip" title="Delete Workout"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
