@page
@model GymWebsite.Pages.Workouts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].TrainingBlock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workout) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingBlock.BlockName)
            </td>
            <td>
                <a asp-page="/Exercises/Index" asp-route-id="@item.TrainingBlockId">Add Exercise</a> |
                <a asp-page="./Edit" asp-route-id="@item.TrainingBlockId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainingBlockId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainingBlockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
