@page
@model GymWebsite.Pages.TrainingBlocks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <script src="https://kit.fontawesome.com/a7acdedb07.js" crossorigin="anonymous"></script>
</head>

<h1>Details</h1>

<div>
    <h4>TrainingBlock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingBlock.BlockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingBlock.BlockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingBlock.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingBlock.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingBlock.BlockStartDate)
        </dt>
        <dd class="col-sm-10">
            @{
                string shortStartDate = Model.TrainingBlock.BlockStartDate.ToShortDateString();
            }
            @Html.DisplayFor(model => shortStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingBlock.BlockEndDate)
        </dt>
        <dd class="col-sm-10">
            @{
                string shortEndDate = Model.TrainingBlock.BlockEndDate.ToShortDateString();
            }
            @Html.DisplayFor(model => shortEndDate)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Workouts</th>
                    <th>Exercises</th>
                </tr>
                @foreach (var item in Model.TrainingBlock.Workouts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkoutName)
                        </td>
                        <td>
                            <div><a asp-page="/Workouts/Details" asp-route-id="@item.WorkoutID">View Workout Details</a></div>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

</div>
<div>
    <a asp-page="../Workouts/Create" asp-route-id="@Model.TrainingBlock.TrainingBlockID"><i class="fas fa-plus-square fa-2x pr-4 text-black-50" data-toggle="tooltip" title="Add Workout to Training Block"></i></a>|
    <a asp-page="./Edit" asp-route-id="@Model.TrainingBlock.TrainingBlockID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


<div class="row">
    <div class="col-12">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
</div>

<script src="~/js/Chart.js" asp-append-version="true"></script>
<script src="~/js/myChart.js" asp-append-version="true"></script>

<script>

    var ExerciseJson = @Html.Raw(@ViewData["chartData"]);
    myfunction(ExerciseJson);

</script>
