@page
@model GymWebsite.Pages.Exercises.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/a7acdedb07.js" crossorigin="anonymous"></script>
</head>

<h1>Index</h1>

<p>
        <a asp-page="Create">Create New Exercise</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Workout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.WorkoutName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExerciseID"><i class="fas fa-edit fa-2x pr-3 text-black-50" data-toggle="tooltip" title="Edit Exercise"></i></a>
                <a asp-page="./Details" asp-route-id="@item.ExerciseID"><i class="fas fa-info-circle fa-2x pr-4 text-black-50" data-toggle="tooltip" title="Exercise Info"></i></a>
                <a asp-page="./Delete" asp-route-id="@item.ExerciseID"><i class="fas fa-trash-alt fa-2x text-black-50" data-toggle="tooltip" title="Delete Exercise"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
